<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dev Jobs</title>
    <link rel="stylesheet" href="/fonts/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/typeplate.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- STUDENT: Create Link to styles.css  -->
  </head>
  <body>
    <div class="header header--about">
      <h2 class="header--about__title">About <span class="font--primary-theme">&lt;DevJobs&gt;</span></h2>
    </div>
    <div class="section section--about">
      <div class="company-fact">
        <h5 class="company-fact__title">Who are we?</h5>
        <p class="company-fact__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="company-fact">
        <h5 class="company-fact__title">How can I participate?</h5>
        <p class="company-fact__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="company-fact">
        <h5 class="company-fact__title">What kind of jobs are appropiate?</h5>
        <p class="company-fact__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="company-fact">
        <h5 class="company-fact__title">What is your privacy policy?</h5>
        <p class="company-fact__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </body>
</html>
