<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dev Jobs</title>
    <link rel="stylesheet" href="/fonts/ionicons-2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/typeplate.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- STUDENT: Create Link to styles.css  -->
  </head>
  <body>
    <div class="header header--landing">
      <h1 class="header--landing__title">&lt;DevJobs&gt;</h1>
      <p class="header--landing__slogan">Quality jobs for quality devs</p>
      <a class="header--landing__btn" href="/about">About</a>
      <a class="header--landing__btn" href="/jobs">All Jobs</a>
    </div>
  </body>
</html>
